*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.image{
    width: 8vw;
    height: 7vh;
    display: flex;
    /* border: 2px solid rebeccapurple; */
    background-color: #222;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    position: relative;
    /* margin-top: 50px; */
    border-radius: 1.75rem;
}
.moon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.moon1{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 8px;
}


#circle {
    position: absolute;
    top: 5px;
    left: 3px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform .5s, background-color .5s;
    will-change: transform;
    z-index: 2;
}

#text{
    font-size:70px;
    color: black;
}

.dark-mode {
    transform: translateX(calc(100% + 40px));
}